<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<!-- <link rel="stylesheet" href="/css/syntax.css"> -->

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/main.css">

<header>
	<h1 class="title"><a href="/">{{ site.name }}</a></h1>
	<nav>
		<ul>
			<li><a href="/">HOME</a>
			<li><a href="/about.html">About</a>
			<li><a href="https://www.google.com/calendar/embed?src=bn4c3vuhl8m9n4tqemr6aki98o%40group.calendar.google.com&ctz=Asia/Tokyo">Calendar</a>
		</ul>
	</nav>
</header>

{{ content }}

<footer>
&copy; 2012- <a href="http://www.hst.titech.ac.jp/">東京工業大学附属科学技術高等学校</a> 情報コンピュータ愛好会
</footer>

</html>
